@{
    ViewBag.Title = "FundManager";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <table class="table">
        <thead>
            <tr>
                <th>FundManager</th>
                <th>Manager Name</th>
                <th>Education</th>
                <th>Working year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>石大怿</td>
                <td>经济学硕士</td>
                <td>7年</td>
            </tr>
            <tr>
                <td>2</td>
                <td>刘朝阳</td>
                <td>北京大学光华管理学院金融硕士</td>
                <td>9年</td>
            </tr>
        </tbody>
    </table>




