@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style type="text/css">
    .mainbody{
       
        height:auto;
    }
    .leftbar{
        width:20%;
        background-color:azure;
        float:left;
        height: 300px;
    }

    .rightbar{
        width:80%;
        float:left;
        height: 300px;
         background-color:antiquewhite;
    }
</style>
EditPortfolio
<div class="mainbody">
    <div class="leftbar">
        <ul class="nav nav-sidebar">

            <li class="dropdown">
                <a>
                    <span class="glyphicon glyphicon-road">&nbsp;</span>
                    Create New
                    <span class="dropdown-icon glyphicon glyphicon-menu-down"></span>
                </a>
            </li>
            <li class="dropdown">
                <a>
                    <span class="glyphicon glyphicon-gbp">&nbsp;</span>
                    Update
                    <span class="dropdown-icon glyphicon glyphicon-menu-down"></span>
                </a>
            </li>
            <li class="dropdown">
                <a>
                    <span class="glyphicon glyphicon-education">&nbsp;</span>
                    Select All
                    <span class="dropdown-icon glyphicon glyphicon-menu-down"></span>
                </a>
            </li>
            <li class="dropdown">
                <a>
                    <span class="glyphicon glyphicon-tree-conifer">&nbsp;</span>
                    Delete
                    <span class="dropdown-icon glyphicon glyphicon-menu-down"></span>
                </a>
            </li>

        </ul>

    </div>

    <div class="rightbar">
        dasjkdaldjk
    </div>
</div>


