@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<table class="table">
    <thead>
        <tr>
            <th>Portfolio</th>

            <th>Name</th>
            <th>Code</th>
            <th>FundType</th>
            <th>FundSize</th>
            <th>Manager</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>易方达基金易理财</td>
            <td>000359</td>
            <td>货币市场基金</td>
            <td>215.79亿</td>
            <td>石大怿</td>
            <td>+4.3140%</td>

        </tr>
        <tr>
            <td>2</td>
            <td>易方达基金易理财</td>
            <td>000359</td>
            <td>货币市场基金</td>
            <td>215.79亿</td>
            <td>石大怿</td>
            <td>+4.3140%</td>
        </tr>
    </tbody>
</table>




